.bottom {
    z-index: 5;
    position: fixed;
    width:100vw;
    color: black;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.bottom > div{
    padding: 10px;
    border-radius: 50%;
}

.bottom > div:hover {
    background-color: white;
    opacity: 0.6;
}

.page1page1, .page2page2,
.page3page3, .page4page4{
    background-color: white;
    opacity: 0.6;
}