.bottom {
    z-index: 5;
    position: fixed;
    width:100vw;
    color: black;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.bottom > div{
    padding: 10px;
    border-radius: 100%;
}

.bottom > div:hover {
    background-color: white;
    color: #F2F2F2;
    opacity: 0.6;
}