.home{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.components{
    display: flex;
    transition: 0.7s;
}
.__skills{
    transform: translateX(-100vw);
}
.__projects{
    transform: translateX(-200vw);
}
.__contact{
    transform: translateX(-300vw);

}


 
@keyframes animation{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vw);
    }
}
