.scrollable {
   display: flex;
   text-align: center;
   background-color: black;
}


.allspans {
   transition: 0.3s ease;
   line-height: 15vh;
   left:0;
   width: 50vw;
   font-size: 5vh;
   position: absolute;
   transition: 0.3s ease;
}
 