.sidebar {
    position: absolute;
    display: flex;
    overflow: hidden;
}

.sidebar__slide{
    display: flex;
    transform: translateX(-110%);
}

.sidebar__screen {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.sidebar__navbar{
    position: absolute;
    top:20vh;
    left: 20vw;
}
.hh1{
    color:wheat;
    padding: 30px 0px;
}
.hh1:hover{
    color: white;
}

.sidebar__svg{
    position: absolute;
    bottom:30.1vh;
    left:81vw;
    width: 100vh;
    height:40vh;
    transform: rotate(90deg);
}

.sidebar__svg > path{
    transition: d 0.8s;
}

.sidebar__tip{
    z-index: 10;
    position: fixed;
    top: 50%;
    width:80px;
    height: 80px;
    padding: 20px;
    background-color: black;
    line-height: 20px;
    border-radius: 29% 0% 66% 0% / 0% 100% 65% 24%;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    cursor: pointer;
    transition: left 2.5s;
}

.sidebar__tip:hover{
    transform: scale(0.95) rotate(-45deg);
    transition: transform 0.2s;

}

.sidebar__button {
    position: relative;
    top: 55%;
    left: -60%;
    color:white;
    transform: rotate(45deg);
    margin-left: 100px;
    transition: 0.8s; 
}

@media only screen and (max-width: 1200px) {
    .sidebar__svg{
        left:75vw;
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar__svg{
        left:45vw;
    }
}


@media only screen and (max-width: 700px) {
    .sidebar__svg{
        left:25vw;
    }
}

@media only screen and (max-width: 540px) {
    .sidebar__svg{
        left:40vw;
    }
}

@media only screen and (max-width: 400px) {
    .sidebar__svg{
        left:5vw;
    }
}

@media only screen and (max-width: 360px) {
    .sidebar__svg{
        left:25vw;
    }
}

@media only screen and (max-width: 300px) {
    .sidebar__svg{
        left:0vw;
    }
}