.skills {
    position: relative;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}

.skills__background{
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* .skills > h1{
    z-index: 1;
    position: absolute;
    color: #010001;
    top: 50%;
    left: 20%;
} */